<div class="client-download-container text-center">
  <div class="client-download-header">
    <div class="client-download-header-content">
      <div class="client-download-icon text-center pt-4">
        <div class="pb-3">
          <img src="assets/jfoa-icon.svg" alt="JavaFamily"
               class="circle-logo-style" />
        </div>

        <ul class="nav d-flex list-style-none flex-justify-center">
          <li class="d-inline-block m-2 client-platform-link-item"
            [class.selected]="platform == Platform.Win_x64">
            <a (click)="selectPlatform(Platform.Win_x64)">Windows</a>
          </li>
          <li class="d-inline-block m-2 client-platform-link-item"
              [class.selected]="platform == Platform.Mac">
            <a (click)="selectPlatform(Platform.Mac)">Mac OS X</a>
          </li>
          <li class="d-inline-block m-2 client-platform-link-item"
              [class.selected]="platform == Platform.Linux">
            <a (click)="selectPlatform(Platform.Linux)">Linux</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="client-download-body text-center">
    <h1 class="pb-3">
      JavaFamily OA Client
    </h1>

    <p class="pb-4">
      {{'portal.installer.desc' | translate}}
    </p>

    <c-client-platform-view [platform]="platform">
    </c-client-platform-view>

    <div class="d-block width-fit mx-auto mb-6 client-download-screenshot">
      <ng-container *ngFor="let img of images">
        <img [src]="img.src" [alt]="img.alt" class="app-screenshot">
      </ng-container>
    </div>

    <div class="pt-5 pb-5">
      <a class="btn btn-outline-black mb-6"
         [href]="docUrl">
        {{'portal.installer.whatsBuild' | translate}}
      </a>
    </div>
  </div>
</div>

<dl-download-target></dl-download-target>
