<div class="client-download-container">
  <div class="client-download-header">
    <div class="bg-logo client-download-header-bg">
    </div>

    <div class="client-download-header-content">
      <div class="client-download-icon text-center">
        <div>
          <img src="assets/jfoa-icon.svg" alt="JavaFamily" class="circle-logo-style" />
        </div>

        <ul class="nav">
          <li>Windows</li>
          <li>Mac OSX</li>
          <li>Linux</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="client-download-body">

  </div>
</div>
