<div class="mat-table-view-container">
  <div class="mat-table-view-table">
    <table mat-table [dataSource]="dataSource" matSort
           class="mat-elevation-z8">
      <ng-container *ngFor="let col of cols" [matColumnDef]="col.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container *ngIf="col.headerCheckbox; else textHeader">
            <mat-checkbox (ngModelChange)="col.headerCheckboxHandle($event)"
                          [ngModel]="col.headerCheckboxChecked()"
            ></mat-checkbox>
          </ng-container>

          <ng-template #textHeader>{{col.label}}</ng-template>
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="col.iconFunc">
            <mat-icon class="jfoa jfoa-icon-size-h-left"
                      [fontIcon]="col.iconFunc(element[col.name])"></mat-icon>
          </ng-container>

          <ng-container *ngIf="col.cellCheckbox">
            <mat-checkbox [ngModel]="col.headerCheckbox ? isSelected(element) : element[col.name]"
                          (ngModelChange)="cellChecked(element, col, $event)"
            ></mat-checkbox>
          </ng-container>

          <ng-container *ngIf="!!col.btnElement">
            <button mat-button (click)="col.btnElement.action(element)"
              >{{col.btnElement.label}}</button>
          </ng-container>

          <ng-container *ngIf="!!!col.btnElement && !!!col.cellCheckbox && !!!col.onlyIcon">
            {{col.valueFunc ? col.valueFunc(element, col.name) : element[col.name]}}
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected]="isSelected(row) && clickToSelect"
        (click)="selectRow(row, $event)"></tr>
    </table>
  </div>

  <div class="mat-table-view-footer" *ngIf="dataSource?.data?.length > 0">
    <mat-paginator class="w-100" [pageSizeOptions]="[5, 10, 20]"
                   pageSize="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
