<div class="client-manager-container">
  <div class="w-100">
    <mat-tab-group mat-align-tabs="center" class="w-100"
                   [selectedIndex]="tabIndex"
                   (selectedIndexChange)="onChangeTab($event)">
      <mat-tab [label]="'em.client.Clients' | translate">
        <mat-card>
          <mat-card-content>
            <mat-table-view [data]="installers | async" [cols]="cols"
                            [selectedItems]="selectedItems"
                            (onRowSelected)="selectItem($event)">
            </mat-table-view>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button (click)="deleteSelected()">{{'Delete' | translate}}</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>

      <mat-tab [label]="'em.client.clientUpload' | translate">
        <mat-card>
          <mat-card-content>
            <form class="client-upload-content" [formGroup]="form">
              <mat-form-field class="w-75">
                <mat-label translate>Platform</mat-label>

                <mat-select [value]="model.installer.platform" formControlName="platform">
                  <mat-option *ngFor="let p of platforms"
                              [value]="p.value">{{p.key}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-75">
                <mat-label translate>em.client.ph.version</mat-label>
                <input matInput [placeholder]="'em.client.clientVersion' | translate"
                       [value]="model.installer.version"
                       formControlName="version">
              </mat-form-field>

              <mat-form-field class="w-75">
                <mat-label translate>em.client.ph.browser</mat-label>
                <input matInput placeholder="{{'em.client.ph.name' | translate}}"
                       [ngModelOptions]="{standalone: true}"
                       [disabled]="!!!model.fileData"
                       [(ngModel)]="model.installer.fileName">
                <mat-icon matSuffix class="icon-export_import"
                  (click)="browser()"></mat-icon>
              </mat-form-field>

            </form>
          </mat-card-content>

          <mat-card-actions class="client-upload-footer">
            <div class="client-upload-footer-btns w-75">
              <input #fileChooser type="file" name="installerFile"
                     class="file-input" accept=".zip,.rar,.tar,.gz"
                     (change)="onFileChange($event)" hidden>
              <button mat-button (click)="upload()"
                      [disabled]="form.invalid || !!!model.fileData"
              >{{"Upload" | translate}}</button>
              <button mat-button (click)="reset()">{{"Reset" | translate}}</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="page-loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

