@import "variables";

$jfoa-font-path: "fonts" !default;

@font-face {
   font-family: 'jfoa';
   src: url('#{$jfoa-font-path}/jfoa.eot?8uxeg8');
   src: url('#{$jfoa-font-path}/jfoa.eot?8uxeg8#iefix') format('embedded-opentype'),
      url('#{$jfoa-font-path}/jfoa.ttf?8uxeg8') format('truetype'),
      url('#{$jfoa-font-path}/jfoa.woff?8uxeg8') format('woff'),
      url('#{$jfoa-font-path}/jfoa.svg?8uxeg8#jfoa') format('svg');
   font-weight: normal;
   font-style: normal;
}

$jfoa-css-prefix: jfoa;

[class^="icon-"], [class*=" icon-"], .#{$jfoa-css-prefix} {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'jfoa' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   //color: $jfoa-default-icon-color; // Change default icon color

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
