$jfoa-font-cache-buster: "53kz7tbqcku27x0eyz2xcxg4u4";

$icon-account: "\e900";
$icon-edit: "\e901";
$icon-help: "\e902";
$icon-home: "\e903";
$icon-logout: "\e904";
$icon-mail-send: "\e905";
$icon-mail-write: "\e907";
$icon-menu-off: "\e908";
$icon-menu-on: "\e909";
$icon-monitor: "\e90a";
$icon-setting: "\e90b";

$jfoa-base-map: (
   icon-account: $icon-account,
   icon-edit: $icon-edit,
   icon-help: $icon-help,
   icon-home: $icon-home,
   icon-logout: $icon-logout,
   icon-mail-send: $icon-mail-send,
   icon-mail-write: $icon-mail-write,
   icon-menu-off: $icon-menu-off,
   icon-menu-on: $icon-menu-on,
   icon-monitor: $icon-monitor,
   icon-setting: $icon-setting
);
