$jfoa-font-cache-buster: "q6dh9tzck483ktr9tp2uh8jcpw";

$icon-account: "\ea01";
$icon-alarm: "\ea02";
$icon-arrow-down: "\ea03";
$icon-arrow-left: "\ea04";
$icon-arrow-right: "\ea05";
$icon-arrow-up: "\ea06";
$icon-book-outline: "\ea07";
$icon-cancel: "\ea08";
$icon-clear_circle: "\ea09";
$icon-edit: "\ea0a";
$icon-en2zh: "\ea0b";
$icon-error: "\ea0c";
$icon-export_import: "\ea0d";
$icon-export: "\ea0e";
$icon-eye-preview: "\ea0f";
$icon-file-edit: "\ea10";
$icon-file-select: "\ea11";
$icon-finish: "\ea12";
$icon-group: "\ea13";
$icon-help: "\ea14";
$icon-home: "\ea15";
$icon-like: "\ea16";
$icon-logout: "\ea17";
$icon-mail-send: "\ea18";
$icon-mail-write: "\ea19";
$icon-menu-off: "\ea1a";
$icon-menu-on: "\ea1b";
$icon-monitor: "\ea1c";
$icon-notify: "\ea1d";
$icon-pressing: "\ea1e";
$icon-refresh: "\ea1f";
$icon-role: "\ea20";
$icon-search: "\ea21";
$icon-section-achieve: "\ea22";
$icon-setting: "\ea23";
$icon-volume_up: "\ea24";
$icon-write: "\ea25";
$icon-zh2en: "\ea26";

$jfoa-base-map: (
  icon-account: $icon-account,
  icon-alarm: $icon-alarm,
  icon-arrow-down: $icon-arrow-down,
  icon-arrow-left: $icon-arrow-left,
  icon-arrow-right: $icon-arrow-right,
  icon-arrow-up: $icon-arrow-up,
  icon-book-outline: $icon-book-outline,
  icon-cancel: $icon-cancel,
  icon-clear_circle: $icon-clear_circle,
  icon-edit: $icon-edit,
  icon-en2zh: $icon-en2zh,
  icon-error: $icon-error,
  icon-export_import: $icon-export_import,
  icon-export: $icon-export,
  icon-eye-preview: $icon-eye-preview,
  icon-file-edit: $icon-file-edit,
  icon-file-select: $icon-file-select,
  icon-finish: $icon-finish,
  icon-group: $icon-group,
  icon-help: $icon-help,
  icon-home: $icon-home,
  icon-like: $icon-like,
  icon-logout: $icon-logout,
  icon-mail-send: $icon-mail-send,
  icon-mail-write: $icon-mail-write,
  icon-menu-off: $icon-menu-off,
  icon-menu-on: $icon-menu-on,
  icon-monitor: $icon-monitor,
  icon-notify: $icon-notify,
  icon-pressing: $icon-pressing,
  icon-refresh: $icon-refresh,
  icon-role: $icon-role,
  icon-search: $icon-search,
  icon-section-achieve: $icon-section-achieve,
  icon-setting: $icon-setting,
  icon-volume_up: $icon-volume_up,
  icon-write: $icon-write,
  icon-zh2en: $icon-zh2en
);
