
.role-edit-view-body {
   width: 100%;
   height: 100%;
}

.role-edit-view-first-label {
   display: flex;
   height: 50px;
}

.role-edit-role-label {
   max-width: 50%;
   flex: 1;
}

.role-edit-role-boxs {
   flex: 1;
}
