<div class="role-edit-view-body" *ngIf="!!model">
  <div class="role-edit-view-first-label content-card-btns-padding">
    <h3 class="role-edit-role-label">
      <p>{{'Role' | translate}}: {{role.name}}</p>
    </h3>

    <div class="role-edit-role-boxs">
      <mat-checkbox class="mr-3" [(ngModel)]="role.defaultRole">{{'Default' | translate}}</mat-checkbox>
      <mat-checkbox [(ngModel)]="role.administrator">{{'sysAdmin' | translate}}</mat-checkbox>
    </div>
  </div>

  <div class="content-card-btns-container" *ngIf="!!form" [formGroup]="form">
    <div class="content-card-btns-top-pane content-card-btns-padding">
      <mat-form-field>
        <mat-label>{{'Name' | translate}}</mat-label>
        <input matInput placeholder="{{'Name' | translate}}"
               formControlName="name" [value]="role.name">
        <mat-error *ngIf="form.get('name').hasError('required')">
          {{'user.profile.warn.nameRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'Description' | translate}}</mat-label>
        <textarea matInput placeholder="{{'Description' | translate}}"
                  [(ngModel)]="role.description"
                  [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>

      <role-assigned-to-card [model]="model.assignedToModel"></role-assigned-to-card>

    </div>

    <mat-card class="content-card-btns-bottom">
      <mat-card-content>
        <button mat-button (click)="apply()"
          [disabled]="applyDisabled">{{'Apply' | translate}}</button>
        <button mat-button (click)="reset()"
          [disabled]="applyDisabled">{{'Reset' | translate}}</button>
      </mat-card-content>
    </mat-card>

  </div>
</div>
