.host {
  width: 100%;
  height: 100%;
}

.mail-author-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mail-author-container > *:not(button) {
  width: 100%;
}

.mail-item {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
}

.mail-subject {
  @extend .mail-item;
}

.mail-content {
  @extend .mail-item;
}

.froala-page-size {
  min-height: 300px;
  max-height: 600px;
}

.mail-author-footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  vertical-align: middle;
  padding-right: 25px;
}

::ng-deep .second-toolbar > #logo {
  display: none !important;
}

::ng-deep .fr-wrapper > div[style*='z-index: 9999'] {
  position: absolute;
  top: -10000px;
  opacity: 0;
  //display: none;
}

::ng-deep .fr-wrapper > .fr-placeholder {
  margin-top: 0 !important;
}
