<mat-toolbar>
  <div role="group" aria-label="JavaFamily Btn">
    <div class="jfoa-icon-size">
      <img class="jfoa-icon-size txt-light"
           [src]="isInstaller ? './jfoa-icon.ico' : '../jfoa-icon.ico'"/>
      <span class="sr-only">JavaFamily</span>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Portal Tab Btn">
    <a mat-button mat-icon-button aria-label="Home"
       [title]="'Home' | translate"
       class="tile-bar-icon-size bg-primary"
       [href]="isInstaller ? 'index.html' : '..'">
      <mat-icon class="jfoa" fontIcon="icon-home"></mat-icon>
    </a>
  </div>

  <div class="btn-group portal-toolbar-text-links" role="group"
       aria-label="Request Tab Btn">
    <a mat-button [attr.aria-label]="'portal.toolbar.vote' | translate"
       [title]="'portal.toolbar.vote' | translate"
       routerLink="./subjectVote"
    >{{'portal.toolbar.vote' | translate}}</a>

    <a mat-button [attr.aria-label]="'Blog' | translate"
       [title]="'Blog' | translate"
       routerLink="./blog"
    >{{'Blog' | translate}}</a>
  </div>

  <div class="btn-group title-bar-align-right"
       role="group" aria-label="Portal Manager Btn Group"
       *ngIf="!!principal">
    <div class="d-inline-block">

      <button mat-button [matMenuTriggerFor]="supportMatMenu"
              aria-label="Support" [title]="'Support' | translate"
              class="title-bar-btn">{{'Support' | translate}}</button>

      <button mat-icon-button
              #writeArticleTrigger="matMenuTrigger"
              aria-label="Write Article"
              [matMenuTriggerFor]="writeArticleMenu"
              class="tile-bar-icon-size title-bar-btn"
              [title]="'portal.toolbar.writeArticle' | translate">
        <mat-icon class="icon-write"></mat-icon>
      </button>

      <button mat-icon-button *ngIf="principal?.authenticated"
              routerLink="./mailAuthor"
              [title]="'portal.toolbar.mailAuthor' | translate"
              aria-label="Mail Author"
              class="tile-bar-icon-size title-bar-btn"
              [disabled]="!!!principal?.email">
        <mat-icon class="jfoa" fontIcon="icon-mail-write"></mat-icon>
      </button>

      <button mat-button mat-icon-button aria-label="Language"
              [title]="'Language' | translate"
              class="tile-bar-icon-size"
              *ngIf="!isInstaller"
              (click)="changeLanguage()">
        <mat-icon [class.icon-en2zh]="isZH"
          [class.icon-zh2en]="isEN"></mat-icon>
      </button>

      <button mat-button mat-icon-button aria-label="Help"
              [title]="'Help' | translate"
              class="tile-bar-icon-size"
              (click)="help()">
        <mat-icon class="jfoa" fontIcon="icon-help"></mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="accountMatMenu"
              aria-label="Account" [title]="'Account' | translate"
              class="tile-bar-icon-size title-bar-btn">
        <mat-icon class="jfoa" fontIcon="icon-account"></mat-icon>
      </button>

      <mat-menu #supportMatMenu="matMenu">
        <ng-template matMenuContent>

          <button mat-menu-item (click)="help()">{{'Document' | translate}}</button>
          <button mat-menu-item (click)="devDoc()">{{'Api Document' | translate}}</button>

          <ng-container *ngIf="!isInstaller">
            <mat-divider></mat-divider>

            <button mat-menu-item routerLink="/portal/clientDownload" class="client-download-btn">
              {{'portal.installer.download' | translate}}
              <mat-chip-list class="lmargin-5">
                <mat-chip color="primary" class="bg-primary text-white"
                          selectable="false">Beta-0.0.1</mat-chip>
              </mat-chip-list>
            </button>
          </ng-container>

        </ng-template>
      </mat-menu>

      <mat-menu #writeArticleMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-button aria-label="Rich Editor"
                  routerLink="blog/article-editor"
                  [title]="'portal.toolbar.richEditor' | translate"
          >{{'portal.toolbar.richEditor' | translate}}</button>

          <button mat-button aria-label="Markdown Editor"
                  [title]="'portal.toolbar.mdEditor' | translate"
          >{{'portal.toolbar.mdEditor' | translate}}</button>
        </ng-template>
      </mat-menu>

      <mat-menu #accountMatMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="editProfile($event)"
                  [disabled]="!principal.authenticated"
            >{{'user.profile.Profile' | translate}} ({{principal.userName}})</button>

          <button *ngIf="principal.authenticated" mat-menu-item
                  (click)="openChangePasswordDialog()"
                  [disabled]="disableChangePassword"
            >{{'user.pwd.change' | translate}}</button>

          <mat-divider></mat-divider>

          <a [disabled]="!principal?.authenticated" mat-menu-item routerLink="/em"
            >{{'security.link.em' | translate}}</a>

          <mat-divider></mat-divider>

          <ng-container *ngIf="!isInstaller">
            <a *ngIf="!principal.authenticated" mat-menu-item
               href="/login">{{'security.link.sign-in' | translate}}</a>
            <a mat-menu-item href="/signup"
              >{{'security.link.sign-up' | translate}}</a>
            <a *ngIf="principal.authenticated" mat-menu-item
               href="/logout">{{'security.link.sign-out' | translate}}</a>
          </ng-container>

          <ng-container *ngIf="isInstaller">
            <a *ngIf="!principal.authenticated" mat-menu-item
               routerLink="/login">{{'security.link.sign-in' | translate}}</a>
            <a mat-menu-item routerLink="/signup"
              >{{'security.link.sign-up' | translate}}</a>
            <button *ngIf="principal.authenticated" mat-menu-item (click)="logout()"
              >{{'security.link.sign-out' | translate}}</button>
          </ng-container>
        </ng-template>
      </mat-menu>

    </div>
  </div>
</mat-toolbar>
