# Auto detect text files and perform LF normalization
*.js linguist-language=Angular
*.css linguist-language=Angular
*.html linguist-language=Angular
*.scss linguist-language=Angular
*.ts linguist-language=Angular
*.java linguist-language=java