<div class="modal-header">
  <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="profile-settings-container">
    <mat-form-field>
      <mat-label>Account:</mat-label>
      <input matInput placeholder="Account" [ngModel]="principal?.account"
             [ngModelOptions]="{standalone: true}" readonly [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Old Password:</mat-label>
      <input matInput placeholder="Input your old password"
             type="password"
             formControlName="oldPwd">
      <mat-error *ngIf="form.get('oldPwd').hasError('required')">
        Old Password is required.
      </mat-error>
    </mat-form-field>

    <div formGroupName="pwds" class="display-contents">
      <mat-form-field>
        <mat-label>New Password:</mat-label>
        <input matInput placeholder="Input your new password"
               type="password"
               formControlName="password">
        <mat-error *ngIf="form.get('pwds.password').hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="!form.get('pwds.password').hasError('required') && form.get('pwds.password').hasError('passwordComplexity')">
          The password must be a combination of Numbers and letters.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm New Password:</mat-label>
        <input matInput placeholder="Input your confirm password"
               type="password"
               formControlName="confirmPassword"
               [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="form.get('pwds.confirmPassword').hasError('required')">
          Confirm Password is required.
        </mat-error>
        <mat-error *ngIf="!form.get('pwds.confirmPassword').hasError('required') && pwdFormGroup.hasError('passwordMismatch')">
          The passwords do not match.
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="ok()">OK</button>
  <button class="btn btn-default" (click)="onCancel.emit()">Cancel</button>
</div>
