<div class="modal-header">
  <h3 class="modal-title">{{'user.pwd.change' | translate}}</h3>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="profile-settings-container">
    <mat-form-field>
      <mat-label>{{'Account' | translate}}:</mat-label>
      <input matInput [placeholder]="'Account' | translate"
             [ngModel]="principal?.account"
             [ngModelOptions]="{standalone: true}" readonly
             [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'user.pwd.oldPwd' | translate}}:</mat-label>
      <input matInput [placeholder]="'user.pwd.placeholder.oldPwd' | translate"
             type="password"
             formControlName="oldPwd">
      <mat-error *ngIf="form.get('oldPwd').hasError('required')">
        {{'user.pwd.warn.oldRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <div formGroupName="pwds" class="display-contents">
      <mat-form-field>
        <mat-label>{{'user.pwd.newPwd' | translate}}:</mat-label>
        <input matInput [placeholder]="'user.pwd.placeholder.newPwd' | translate"
               type="password" formControlName="password">
        <mat-error *ngIf="form.get('pwds.password').hasError('required')">
          {{'user.pwd.warn.required' | translate}}
        </mat-error>
        <mat-error *ngIf="!form.get('pwds.password').hasError('required') && form.get('pwds.password').hasError('passwordComplexity')">
          {{'user.pwd.warn.formatError' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'user.pwd.label.confirmPwd' | translate}}:</mat-label>
        <input matInput [placeholder]="'user.pwd.placeholder.confirmPwd' | translate"
               type="password" formControlName="confirmPassword"
               [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="form.get('pwds.confirmPassword').hasError('required')">
          {{'user.pwd.warn.confirmRequired' | translate}}
        </mat-error>
        <mat-error *ngIf="!form.get('pwds.confirmPassword').hasError('required') && pwdFormGroup.hasError('passwordMismatch')">
          {{'user.pwd.warn.notMatch' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="ok()">{{'OK' | translate}}</button>
  <button class="btn btn-default" (click)="onCancel.emit()"
    >{{'Cancel' | translate}}</button>
</div>
