<div class="modal-header">
  <h3 class="modal-title">Profile Settings</h3>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <label class="has-float-label">
      <input name="name"
             [class.is-invalid]="form.get('name').invalid"
             type="text" class="form-control"
             formControlName="name"
             [(ngModel)]="model.name">
      <span>User Name:</span>
      <span class="invalid-feedback" *ngIf="form.get('name').hasError('required')">
        Name is required.
      </span>
    </label>
    <label class="has-float-label">
      <input name="email"
             [class.is-invalid]="form.get('email').invalid"
             type="text" class="form-control"
             formControlName="email"
             [(ngModel)]="model.account">
      <span>Email:</span>
      <span class="invalid-feedback" *ngIf="form.get('email').hasError('email')">
        Email format error.
      </span>
    </label>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="ok()">OK</button>
  <button class="btn btn-default" (click)="onCancel.emit()">Cancel</button>
</div>
