<div class="modal-header">
  <h3 class="modal-title">{{'user.profile.setting' | translate}}</h3>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="profile-settings-container">
    <mat-form-field>
      <mat-label>{{'user.profile.name' | translate}}:</mat-label>
      <input matInput [placeholder]="'user.profile.ph.name' | translate"
             formControlName="name">
      <mat-error *ngIf="form.get('name').hasError('required')">
        {{'user.profile.warn.nameRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'portal.email.Email' | translate}}:</mat-label>
      <input matInput [placeholder]="'portal.email.placeholder.email' | translate"
             formControlName="email">
      <mat-error *ngIf="form.get('email').hasError('email')">
        {{'portal.email.warn.formatError' | translate}}
      </mat-error>
    </mat-form-field>

    <div>
      <label>{{'user.profile.Gender' | translate}}:</label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button [value]="Gender.Male"
          >{{'user.profile.Male' | translate}}</mat-radio-button>
        <mat-radio-button [value]="Gender.Female"
          >{{"user.profile.Female" | translate}}</mat-radio-button>
        <mat-radio-button [value]="Gender.Unknown"
          >{{"Unknown" | translate}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="ok()">{{"OK" | translate}}</button>
  <button class="btn btn-default" (click)="onCancel.emit()"
    >{{"Cancel" | translate}}</button>
</div>
