<mat-toolbar>
  <div role="group" aria-label="JavaFamily Btn">
    <div class="jfoa-icon-size">
      <img class="jfoa-icon-size txt-light"
           [src]="isInstaller ? './jfoa-icon.ico' : '../jfoa-icon.ico'"/>
      <span class="sr-only">JavaFamily</span>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Portal Tab Btn">
    <a mat-button mat-icon-button aria-label="Home" [title]="'Home' | translate"
       class="tile-bar-icon-size bg-primary"
       [href]="isInstaller ? 'index.html' : '..'">
      <mat-icon class="jfoa" fontIcon="icon-home"></mat-icon>
    </a>
  </div>
</mat-toolbar>

<div class="container-fluid login-root">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-header">
        {{'security.link.sign-up' | translate}}
      </div>
      <div class="card-body">

        <div id="emailGroup" class="form-group">
          <label class="required-field" for="register-email"
            >{{'portal.email.Email' | translate}}</label>
          <input type="text" class="form-control form-control-danger"
                 id="register-email"
                 [class.is-invalid]="isInvalid(form.controls['email'])"
                 formControlName="email"
                 name="email" autofocus required/>
          <span class="invalid-feedback" *ngIf="!!form.controls['email'].getError('required')">
            {{'portal.email.warn.required' | translate}}
          </span>

          <span class="invalid-feedback" *ngIf="!!form.controls['email'].getError('emailSpecialCharacters')">
            {{'portal.email.warn.formatError' | translate}}
          </span>
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" id="loginButton" class="btn btn-primary btn-block"
          (click)="signup()" [disabled]="form.invalid">
          {{'security.link.sign-up' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
