<div class="rich-editor-container">
  <div class="rich-editor-toolbar" *ngIf="!hiddenToolbar">
    <div class="rich-editor-toolbar-left">

      <ng-container *ngIf="state == TextEditorState.PREVIEW">
        <h4>{{model.title}}</h4>
      </ng-container>

      <form [formGroup]="form"
            [style.display]="state == TextEditorState.PREVIEW ? 'none' : null">
        <mat-form-field>
          <input matInput type="text" name="title"
                 required placeholder="{{'article.title' | translate}}"
                 [readonly]="state == TextEditorState.PREVIEW"
                 formControlName="titleControl" >

          <mat-error *ngIf="titleControl.hasError('required')">
            {{'article.error.required' | translate}}
          </mat-error>
        </mat-form-field>
      </form>

    </div>

    <div class="rich-editor-toolbar-right">

      <ng-container *ngIf="!changeModeDisabled">

        <section class="rich-editor-toolbar-right-section mr-2">
          <button mat-icon-button aria-label="Edit"
                  class="tile-bar-icon-size title-bar-btn"
                  [class.selected]="state == TextEditorState.EDIT"
                  (click)="changeState(TextEditorState.EDIT)"
                  [title]="'Edit' | translate">
            <mat-icon class="icon-file-edit"></mat-icon>
          </button>

          <button mat-icon-button
                  [attr.aria-label]="'common.editAndPreview' | translate"
                  [class.selected]="state == TextEditorState.ALL"
                  (click)="changeState(TextEditorState.ALL)"
                  class="tile-bar-icon-size title-bar-btn"
                  [title]="'common.editAndPreview' | translate">
            <mat-icon class="icon-book-outline"></mat-icon>
          </button>

          <button mat-icon-button aria-label="Preview"
                  [class.selected]="state == TextEditorState.PREVIEW"
                  (click)="changeState(TextEditorState.PREVIEW)"
                  class="tile-bar-icon-size title-bar-btn"
                  [title]="'Preview' | translate">
            <mat-icon class="icon-eye-preview"></mat-icon>
          </button>
        </section>

        <mat-divider [vertical]="true"></mat-divider>

      </ng-container>

      <section class="rich-editor-toolbar-right-section rich-editor-toolbar-right-padding"
               *ngIf="!hiddenApplyBtns">
        <button mat-icon-button aria-label="Finish"
                class="tile-bar-icon-size title-bar-btn"
                (click)="apply()"
                [disabled]="titleControl?.invalid"
                [title]="'Finish' | translate">
          <mat-icon class="icon-finish"></mat-icon>
        </button>
      </section>

    </div>
  </div>

  <div class="rich-editor-body" #mdEditorBody>

    <split-pane [sizes]="defaultSplitSizes"
                [draggable]="state != TextEditorState.PREVIEW"
                [gutterSize]="state == TextEditorState.PREVIEW ? 0 : 6"
                [minSize]="0">
      <div class="rich-editor-design-view split-item-container split overflow-hidden">
        <textarea matInput #froalaContainer *ngIf="viewInit && !!model"
                [(ngModel)]="content"
                [placeholder]="placeholder || ''"
                [froalaEditor]="options"></textarea>
      </div>

      <div class="rich-editor-preview-view split-item-container split border-gray-0 border-radius-6 p-3">
        <div class="w-100" [froalaView]="content" *ngIf="viewInit"></div>
      </div>

    </split-pane>

  </div>
</div>
