<mat-card class="h-100">
  <mat-card-content [formGroup]="form">
    <mat-form-field>
      <mat-label>{{'portal.email.placeholder.subject' | translate}}</mat-label>
      <input matInput [(ngModel)]="model.subject"
             formControlName="subject"
             [placeholder]="'portal.email.placeholder.subject' | translate">
      <mat-error *ngIf="form.get('subject').hasError('required')">
        {{'common.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'Description' | translate}}</mat-label>
      <textarea matInput [(ngModel)]="model.description"
                rows="3" formControlName="description"
             [placeholder]="'Description' | translate">
      </textarea>
      <mat-error *ngIf="form.get('description').hasError('required')">
        {{'common.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="create()" [disabled]="form.invalid">{{'Create' | translate}}</button>
    <button mat-button (click)="reset()">{{'Reset' | translate}}</button>
  </mat-card-actions>
</mat-card>
