
.title-bar-btn {
  > i {
    color: $jfoa-white;
  }
}

.btn-default-light {
  @include button-variant($jfoa-blue, $jfoa-blue);
}

.btn-llg, .btn-group-llg > .btn {
  padding: 0;
  font-size: 1.625rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

//.btn-default {
//  @include button-outline-variant($jfoa-blue-dark, $jfoa-blue);
//}

.loading-splash {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../assets/favicon.ico");
  background-repeat: no-repeat;
  background-position-y: calc(50% - 12px);
  background-position-x: center;
  background-size: 218px 96px;
  display: none;

  &.is-loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.app-loaded .loading-splash.is-loading {
  display: none;
}

.loading-splash > span {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  margin-top: 96px;
  padding: 0;
  line-height: 1;
}

.opacity-1 {
   opacity: 1;
}

.loading-spinner {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   z-index: $loading-z-index;
   background-color: #e0e0e0;
   opacity: 0.6;
}

.page-loading {
  @extend .loading-spinner;
  top: 64px;
}

.bg-logo {
  background-image: url("../assets/favicon.ico");
  background-repeat: no-repeat;
}

.client-download-logo-bg {
  background-image: url("../assets/img/client-download-bg.jpg");
  background-repeat: no-repeat;
}

.logo-size {
  width: 96px;
  height: 96px;
}

.circle-logo-style {
  @extend .logo-size;
  border-radius: 50%;
  overflow: hidden;
  background: black;
}

.file-input {
  visibility: hidden !important;
}

%selected-item-colors {
  background-color: $selected-item-bg-color;
  color: $selected-item-color;
}

.selected {
  @extend %selected-item-colors
}

// font
.f3{
  font-size:18px !important
}

@media (min-width: 768px){
  .f3{
    font-size:20px !important
  }
}

.btn-outline-white {
  padding: .9em 1.25em;
  color: #fff;
  background: transparent;
  border-color: rgba(255,255,255,0.5);
  border-radius: .3em;
}

.btn-outline-black {
  padding: .9em 1.25em;
  color: black;
  background: transparent;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: .3em;
}

.list-style-none {
  list-style: none !important;
}

.flex-justify-center {
  justify-content: center !important;
}

.jf-code-style {
  text-align: left;
  //background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;

  & code {
    //color: $jfoa-orange;
    white-space: pre-line;
    word-break: break-all;
  }
}

// mat-tree-view
.mat-tree-node-padding {
  padding-left: 12px;
}

.mat-tree-view-tree {
  .mat-tree-node.mat-active, ul.mat-active {
    background: rgba(0, 0, 0, 0.12);
  }

   .mat-tree-node.mat-disabled {
      cursor: not-allowed;
      //pointer-events: none;
      background: rgba(0, 0, 0, 0.05);
   }
}

.border-gray-0 {
   border: 1px solid gray;
}

.border-radius-6 {
   border-radius: 6px;
}

.color-gray {
 color: $jfoa-grey;
}
