<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Server Error</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" th:src="@{/css/login.css}" />
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico" th:href="@{jfoa-icon.ico}">
</head>
<body>
  <div th:if="${message ne null}"  class="alert-error-message">
    Server error: <label th:text="${message }"></label>
  </div>
  <div th:if="${message eq null}">
    Server error, please try again later.
  </div>
</body>
</html>
