<mat-sidenav-container class="em-monitor-container" autosize>
  <mat-sidenav #splitePane mode="side" opened class="em-monitor-left-sidenav"
              disableClose>
    <div class="mat-drawer-inner-container">
      <mat-form-field>
        <input matInput type="search" [placeholder]="'Search' | translate"
               [(ngModel)]="searchText" (keyup.enter)="search()"/>
        <button mat-button matSuffix mat-icon-button aria-label="Search"
                (click)="search()">
          <mat-icon class="icon-search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-nav-list>
        <mat-list-item [class.selected]="clientRla.isActive">
          <a matLine routerLink="client-manager"
             routerLinkActive #clientRla="routerLinkActive"
             translate>em.client.installer</a>
        </mat-list-item>

        <mat-list-item [class.selected]="securityRla.isActive">
          <a matLine routerLink="security-manager"
             routerLinkActive #securityRla="routerLinkActive"
             translate>Security</a>
        </mat-list-item>

        <mat-list-item [class.selected]="userRla.isActive">
          <a matLine routerLink="user-manager"
             routerLinkActive #userRla="routerLinkActive"
             translate>User</a>
        </mat-list-item>

        <mat-list-item [class.selected]="roleRla.isActive">
          <a matLine routerLink="role-manager"
             routerLinkActive #roleRla="routerLinkActive"
             translate>Role</a>
        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="em-monitor-right-sidenav">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
