<mat-sidenav-container class="em-monitor-container" autosize>
  <mat-sidenav #splitePane mode="side" opened class="em-monitor-left-sidenav"
              disableClose>
    <div class="mat-drawer-inner-container">
      <mat-form-field>
        <input matInput type="search" [placeholder]="'Search' | translate"
               [(ngModel)]="searchText" (keyup.enter)="search()"/>
        <button mat-button matSuffix mat-icon-button aria-label="Search"
                (click)="search()">
          <mat-icon class="icon-search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-nav-list>
        <mat-list-item>
          <a matLine routerLink="client-manager" translate>em.client.manager</a>
        </mat-list-item>

        <mat-list-item>
          <a matLine routerLink="user-manager" translate>em.user.manager</a>
        </mat-list-item>

        <mat-list-item>
          <a matLine routerLink="role-manager" translate>em.role.manager</a>
        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="em-monitor-right-sidenav">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
