$jfoa-orange: #ed711c;
$jfoa-orange-light: #ffb17c;

$jfoa-default-icon-color: #6d6d6d;
$jfoa-text-dark: #656616;
$jfoa-text-light: #fff;

$jfoa-white: #fcfcfc;

$primary: $jfoa-orange;
$secondary: $jfoa-orange-light;

$input-btn-focus-color: $primary;

@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-float-label/bootstrap-float-label";

@import "./assets/icons/style.scss";
@import './scss/_imports';
