$jfoa-orange: #ed711c;
$jfoa-red: #ffc1cf;
$jfoa-blue: #cdf7f6;
$jfoa-yellow: #f2f3ae;
$jfoa-green: #dbf4ad;

// inet extended palette - shades for base colors. Not all in actual use yet
$jfoa-orange-light: #ffb17c;
$jfoa-orange-dark: #b75411;
$jfoa-red-light: #ffd7e0;
$jfoa-red-dark: #fe688b;
$jfoa-blue-light: #f2fefe;
$jfoa-blue-dark: #105e5a;
$jfoa-yellow-light: #feffd2;
$jfoa-yellow-dark: #656616;
$jfoa-green-light: #e7f9c7;
$jfoa-green-dark: #aacc6d;

$jfoa-default-icon-color: #6d6d6d;
$jfoa-text-dark: #656616;
$jfoa-text-light: #fff;

$hover-bg-blue: $jfoa-blue-light;

$jfoa-white: #fcfcfc;

$primary: $jfoa-orange;
$secondary: $jfoa-orange-light;

$input-btn-focus-color: $primary;

@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-float-label/bootstrap-float-label";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./assets/icons/style.scss";
@import './scss/_imports';
