.flex {
   flex: 1 1 auto;
}

.flex-row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

.system-summary-body {
   padding: 16px;
   overflow-x: hidden;
   overflow-y: auto;
}

.system-summary-table {
   flex-grow: 0;
   flex-shrink: 0;
}

.server-status-container {
   display: flex;
   flex: 1;
   flex-direction: row;
   flex-wrap: wrap;

   button {
      margin: 6px;
   }
}
