<mat-drawer-container class="em-monitor-container" autosize>
  <mat-drawer #drawer mode="side" opened class="em-monitor-left-sidenav"
              disableClose>
    <div class="mat-drawer-inner-container">
      <mat-form-field>
        <input matInput type="search" [placeholder]="'Search' | translate"
               [(ngModel)]="searchText" (keyup.enter)="search()"/>
        <button mat-button matSuffix mat-icon-button aria-label="Search"
                (click)="search()">
          <mat-icon class="icon-search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-nav-list>
        <mat-list-item [class.selected]="systemRla.isActive">
          <a matLine routerLink="system-monitor"
             routerLinkActive #systemRla="routerLinkActive"
          >{{'System' | translate}}</a>
        </mat-list-item>

        <mat-list-item [class.selected]="srRla.isActive">
          <a matLine routerLink="subject-request"
             routerLinkActive #srRla="routerLinkActive"
          >{{'common.subjectRequest' | translate}}</a>
        </mat-list-item>

        <mat-list-item [class.selected]="auditRla.isActive">
          <a matLine routerLink="audit"
             routerLinkActive #auditRla="routerLinkActive"
          >{{'em.audit.Audit' | translate}}</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <div class="em-monitor-right-sidenav">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
