<mat-drawer-container class="role-manager-body" *ngIf="model">
  <mat-drawer class="role-manager-tree-container"
              mode="side" disableClose opened="true">
    <div class="role-manager-tree-view">
      <mat-tree-view [showRoot]="true"
                     [data]="model.root" [selectedNodes]="selectedNodes"
                     (onSelectNode)="selectNode($event)"></mat-tree-view>
    </div>

    <div class="role-manager-btns">
      <button mat-button (click)="addRole()"
        >{{'em.role.addRole' | translate}}</button>
      <button mat-button [disabled]="selectEmpty"
        (click)="deleteSelectedRole()"
        >{{'em.role.deleteRole' | translate}}</button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="role-manager-content-container">
    <ng-container *ngIf="!selectEmpty">
      <role-edit-view [roleId]="selectedNodes[0].data?.id"></role-edit-view>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
