:host {
   margin: 0;
   padding: 0;
}

.platform-view-container {
   width: 100%;
}

.btn-jfoa-download {
   background-image: linear-gradient(to bottom, #8241f9, #4e277b);
   border-color: #150a27;
   color: #fff;
}
