<router-outlet></router-outlet>

<mat-toolbar>
  <div role="group" aria-label="JavaFamily Btn">
    <div class="jfoa-icon-size">
      <img class="jfoa-icon-size txt-light"
           [src]="isInstaller ? './jfoa-icon.ico' : '../jfoa-icon.ico'"/>
      <span class="sr-only">JavaFamily</span>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Portal Tab Btn">
    <a mat-button mat-icon-button aria-label="Home" title="Home"
       class="tile-bar-icon-size bg-primary" [href]="isInstaller ? 'index.html' : '..'">
      <mat-icon class="jfoa" fontIcon="icon-home"></mat-icon>
    </a>
  </div>
</mat-toolbar>

<div class="container-fluid login-root">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-header">
        Sign In
      </div>
      <div class="card-body">

        <div id="userNameGroup" class="form-group">
          <label class="required-field" for="userName">Account</label>
          <input type="text" class="form-control form-control-danger" id="userName"
                 formControlName="userName"
                 [class.is-invalid]="form.controls['userName'].invalid && (form.controls['userName'].dirty || form.controls['userName'].touched)"
                 name="userName" autofocus required/>
          <span class="invalid-feedback"
                *ngIf="!!form.controls['userName'].getError('required')">
            Username is required.
          </span>
        </div>
        <div id="passwordGroup" class="form-group">
          <label class="required-field" for="password">Password</label>
          <input type="password" class="form-control form-control-danger"
                 id="password" name="password"
                 formControlName="password"
                 [class.is-invalid]="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                 required/>
          <span class="invalid-feedback"
                *ngIf="!!form.controls['password'].getError('required')">
            Password is required.
          </span>
        </div>

        <div id="rememberMeGroup" class="form-group">
          <input type="checkbox" id="rememberMe" name="rememberMe"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="model.rememberMe"/>
          <span class="required-field" for="rememberMe">Remember Me</span>

          <span class="create-account-span">New to JavaFamily?&nbsp;&nbsp;
              <a routerLink="/signup">Create an account.</a></span>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" id="loginButton" class="btn btn-primary btn-block"
          (click)="login()" [disabled]="form.invalid">
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>
