<mat-toolbar>

  <div role="group" aria-label="JavaFamily Btn">
    <div class="jfoa-icon-size">
      <img class="jfoa-icon-size txt-light"
           [src]="isInstaller ? './jfoa-icon.ico' : '../jfoa-icon.ico'"/>
      <span class="sr-only">JavaFamily</span>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="EM Title Bar Left Buttons">
    <a [href]="isInstaller ? 'index.html' : '..'">
      <button type="button" class="btn btn-default tile-bar-icon-size title-bar-btn bg-primary">
        <i class="icon-home"></i>
        <span class="sr-only" translate>Home</span>
      </button>
    </a>

    <button type="button" class="lmargin-15 btn btn-default tile-bar-icon-size title-bar-btn"
            (click)="changeTab(MONITOR_PAGE)"
            [class.btn-icon-selected]="currentTab == MONITOR_PAGE">
      <i class="icon-monitor"></i>
      <span class="sr-only" translate>em.Monitor</span>
    </button>

    <button type="button" class="btn btn-default tile-bar-icon-size title-bar-btn"
            (click)="changeTab(SETTING_PAGE)"
            [class.btn-icon-selected]="currentTab == SETTING_PAGE">
      <i class="icon-setting"></i>
      <span class="sr-only" translate>em.Setting</span>
    </button>
  </div>

  <div class="btn-group title-bar-align-right" role="group" aria-label="EM Home Btn Group">
    <div class="d-inline-block">
      <button mat-icon-button aria-label="Notification"
              [title]="'Notification' | translate"
              class="tile-bar-icon-size"
              (click)="openNotifyDialog()">
        <mat-icon class="icon-notify"></mat-icon>
      </button>

      <button mat-icon-button aria-label="Help" [title]="'Help' | translate"
              class="tile-bar-icon-size"
              (click)="help()">
        <mat-icon class="icon-help"></mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="accountMatMenu"
              aria-label="Account" [title]="'Account' | translate"
              class="tile-bar-icon-size title-bar-btn">
        <mat-icon class="icon-account"></mat-icon>
      </button>

      <mat-menu #accountMatMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="editProfile($event)"
                  [disabled]="!principal?.authenticated"
          >{{'user.profile.Profile' | translate}} ({{principal.userName}})</button>
          <mat-divider></mat-divider>
          <ng-container *ngIf="!isInstaller">
            <a *ngIf="principal?.authenticated" mat-menu-item
               href="/logout" translate>security.link.sign-out</a>
          </ng-container>

          <ng-container *ngIf="isInstaller">
            <button *ngIf="principal?.authenticated" mat-menu-item
                    (click)="logout()" translate>security.link.sign-out</button>
          </ng-container>

        </ng-template>
      </mat-menu>

    </div>
  </div>

</mat-toolbar>
