<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JavaFamily OA Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" th:src="@{/css/login.css}" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.2/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}">
  <script src="/webjars/jquery/3.5.1/jquery.js" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
  <script src="/webjars/bootstrap/4.5.2/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico" th:href="@{jfoa-icon.ico}">
</head>

<body>
<div class="container-fluid login-root">
  <form action="#" th:action="@{/api/1.0/changePassword}"  method="post">
    <div class="card">
      <div class="card-header">
        Change your Password
      </div>
      <div class="card-body">

        <div id="accountGroup" class="form-group">
          <label class="required-field" for="account">Account</label>
          <input type="text" class="form-control form-control-danger"
                 id="account" name="account"
                 th:value="${result != null ? result.data : ''}"
                 autofocus/>
        </div>

        <div th:if="${result ne null}"  class="alert-error-message">
          <label th:text="${result.message }"></label>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
</body>

</html>
