<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JavaFamily OA Login</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico">
</head>

<body>
  <div class="container-fluid login-root">
    <form action="/api/1.0/login" method="post">
      <div class="card">
        <div class="card-header">
          Sign In
        </div>
        <div class="card-body">

          <div id="userNameGroup" class="form-group">
            <label class="required-field" for="userName">Account</label>
            <input type="text" class="form-control form-control-danger" id="userName"
                   name="userName" autofocus
                   th:value="${result != null ? result.data : ''}"/>
            <div id="userNameError" class="form-control-feedback" style="display: none;">
              Please enter your user name.
            </div>
          </div>
          <div id="passwordGroup" class="form-group">
            <label class="required-field" for="password">Password</label>
            <input type="password" class="form-control form-control-danger" id="password" name="password" />
            <div id="passwordError" class="form-control-feedback" style="display: none;">
              Please enter your password.
            </div>
          </div>
          <div id="rememberMeGroup" class="form-group">
            <input type="checkbox" id="rememberMe" name="rememberMe" />
            <span class="required-field" for="rememberMe">Remember Me</span>

            <span class="create-account-span">New to JavaFamily?&nbsp;&nbsp;
              <a href="/signup"
                 th:href="@{/signup}">Create an account.</a></span>
          </div>

          <div th:if="${result ne null}" class="alert-error-message">
            <label th:text="${result.message }"></label>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" id="loginButton" class="btn btn-primary btn-block">
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
