<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JavaFamily OA Login</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" th:src="@{/css/login.css}" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.2/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}">
  <script src="/webjars/jquery/3.5.1/jquery.js" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
  <script src="/webjars/bootstrap/4.5.2/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico" th:href="@{jfoa-icon.ico}">
</head>

<body>
  <div class="container-fluid login-root">
    <form action="/api/1.0/login" method="post">
      <div class="card">
        <div class="card-header">
          [[#{security.link.sign-in}]]
        </div>
        <div class="card-body">

          <div id="userNameGroup" class="form-group">
            <label class="required-field" for="userName">[[#{Account}]]</label>
            <input type="text" class="form-control form-control-danger" id="userName"
                   name="userName" autofocus required
                   th:value="${result != null ? result.data : ''}"/>
            <div id="userNameError" class="form-control-feedback" style="display: none;">
              [[#{user.profile.ph.account}]]
            </div>
          </div>
          <div id="passwordGroup" class="form-group">
            <label class="required-field" for="password">[[#{Password}]]</label>
            <input type="password" class="form-control form-control-danger" id="password" name="password" required/>
            <div id="passwordError" class="form-control-feedback" style="display: none;">
              [[#{user.pwd.placeholder.pwd}]]
            </div>
          </div>
          <div id="rememberMeGroup" class="form-group">
            <input type="checkbox" id="rememberMe" name="rememberMe" />
            <span class="required-field" for="rememberMe">[[#{user.prompt.remMe}]]</span>

            <span class="create-account-span">[[#{user.prompt.joinUs}]]&nbsp;&nbsp;
              <a href="/signup"
                 th:href="@{/signup}">[[#{user.prompt.createAccount}]]</a></span>
          </div>

          <div th:if="${result ne null}" class="alert-error-message">
            <label th:text="${result.message }"></label>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" id="loginButton" class="btn btn-primary btn-block">
            [[#{security.link.sign-in}]]
          </button>

          <button type="button" id="loginWithGithubButton"
                  class="btn btn-info btn-block">
            <a href="/public/oauth/auth?type=GitHub" class="text-white"
              >[[#{security.link.sign-in-by-gitHub}]]</a>
          </button>

          <button type="button" id="loginWithDingTalkButton"
                  class="btn btn-info btn-block">
            <a href="/public/oauth/auth?type=DingTalk" class="text-white"
            >[[#{security.link.sign-in-by-dingtalk}]]</a>
          </button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
