<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JavaFamily OA Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" th:src="@{/css/login.css}" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.2/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}">
  <script src="/webjars/jquery/3.5.1/jquery.js" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
  <script src="/webjars/bootstrap/4.5.2/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico" th:href="@{jfoa-icon.ico}">

  <script>
     function changeCode() {
        const src = "/public/verification/code?t=" + new Date().getTime();
        $('.verifyCode').attr("src", src);
     }
  </script>

</head>

<body>
<div class="container-fluid login-root">
  <form th:action="@{/api/1.0/signup}" th:object="${customer}"  method="post">
    <div class="card">
      <div class="card-header" th:text="#{security.link.sign-up}">
        Sign Up
      </div>
      <div class="card-body">

        <div id="emialGroup" class="form-group">
          <label class="required-field" for="email" th:text="#{portal.email.Email}">Email</label>
          <input type="text" class="form-control form-control-danger" id="email"
                 name="email" th:field="*{email}" autofocus
                 th:value="${customer != null ? customer.email : ''}" required/>
          <div id="emialError" class="form-control-feedback" style="display: none;" th:text="#{portal.email.placeholder.email}">
            Please enter your user email.
          </div>
        </div>

        <div id="verifyCodeGroup" class="form-group">
          <label class="required-field" for="code" th:text="#{common.verifyCode} + ':'">Verification Code:</label>

          <div class="input-group form-group">
            <input type="text" id="code" class="form-control"
                   name="jf-verification-code" required/>

            <div class="input-group-addon">
              <a href="javascript:void(0);"
                 th:title="#{common.changeVerifyCode}'"
                 onclick="changeCode()">
                <img th:src="@{/public/verification/code}"
                     th:alt="#{common.verifyCode}"
                     class="verifyCode" />
              </a>
            </div>

            <div id="codeError" class="form-control-feedback" style="display: none;" th:text="#{common.verifyCode}">
              Please enter your verification code.
            </div>
          </div>

        </div>

        <div th:if="${message ne null}" class="alert-error-message">
          <label th:text="${message }"></label>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" id="loginButton"
                class="btn btn-primary btn-block"
                th:text="#{security.link.sign-up}">
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>
</body>

</html>
