<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up Success</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
  <script src="/webjars/jquery/3.3.1-2/jquery.js" th:src="@{/webjars/jquery/3.3.1-2/jquery.js}"></script>
  <script src="/webjars/bootstrap/4.3.1/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico" th:href="@{jfoa-icon.ico}">
</head>

<body>
  <h1>Registration Success!
    You will receive an email containing your account information,
    please click the activation link in the email within ten minutes
    to activate your account.
  </h1>

  <h3>Go to <a th:href="${loginLink}">login page</a>.</h3>
</body>

</html>
