<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta th:if="${result}" http-equiv="refresh"
        content="3;URL=http://javafamily.club"
        th:content="'3;URL=' + ${redirectLink}">
  <title>User Activate Result</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
  <script src="/webjars/jquery/3.3.1-2/jquery.js" th:src="@{/webjars/jquery/3.3.1-2/jquery.js}"></script>
  <script src="/webjars/bootstrap/4.3.1/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
  <link rel="icon" type="image/x-icon" href="jfoa-icon.ico" th:href="@{jfoa-icon.ico}">
</head>

<body>
  <div th:if="${result}">
    <h1>Registration Success! will go to <a th:href="${redirectLink}">login</a> page after 3s.</h1>
  </div>

  <div th:if="${!result}">
    <h1>Registration Failed!, click go to <a th:href="${redirectLink}">sign up</a> page</h1>

    <h4>Reason: <span th:text="${reason}"></span></h4>
  </div>

</body>

</html>
