
.md-editor-container {
   width: 100%;
   height: 100%;
}

.md-editor-body {
   width: 100%;
   height: 100%;
}

.md-editor-toolbar-right {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   vertical-align: middle;
}

.md-editor-toolbar-right-section {
   display: flex;
   align-content: center;
   align-items: center;
}

.md-editor-toolbar-right-margin {
   margin: 10px;
}

::ng-deep #fr-logo, .second-toolbar > #logo, .fr-second-toolbar > #fr-logo {
   display: none !important;
}

::ng-deep .fr-wrapper > div[style*='z-index:9999'] {
   position: absolute;
   top: -10000px;
   opacity: 0;
   //display: none;
}

::ng-deep .fr-wrapper > .fr-placeholder {
   //padding-top: 0 !important;
}

