
.md-editor-container {
   width: 100%;
   height: 100%;
}

.md-editor-body {
   width: 100%;
   height: 100%;
}

::ng-deep #fr-logo, .second-toolbar > #logo, .fr-second-toolbar > #fr-logo {
   display: none !important;
}

::ng-deep .fr-wrapper > div[style*='z-index:9999'] {
   position: absolute;
   top: -10000px;
   opacity: 0;
   //display: none;
}

::ng-deep .fr-wrapper > .fr-placeholder {
   //padding-top: 0 !important;
}

