<div class="audit-view-container container-fluid">

  <div class="audit-view-header row">
    <h2>Audit</h2>
  </div>

  <div class="audit-view-actions row">
    <div class="audit-filter-start col2">
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" placeholder="From Date"
               [value]="filter.startDate" (click)="startPicker.open()"
               (dateChange)="filterChanged($event)" readonly>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker  disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="audit-filter-to">
      to
    </div>

    <div class="audit-filter-end col2">
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" placeholder="End date"
               [value]="filter.endDate" [min]="filter.startDate"
               (click)="endPicker.open()"
               (dateChange)="filterChanged($event, true)" readonly>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="audit-view-action-btn pl-lg-4">
      <button mat-stroked-button>Filter</button>
    </div>

    <div class="audit-view-action-btn">
      <button mat-stroked-button (click)="resetFilter()"
        [disabled]="isEmptyFilter()">Clear</button>
    </div>

    <div class="audit-view-action-btn">
      <button mat-stroked-button>Export</button>
    </div>
  </div>

  <div class="audit-view-table row">
    <table mat-table [dataSource]="dataSource" matSort
           class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="resource">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource </th>
        <td mat-cell *matCellDef="let element"> {{element.resource}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
        <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button *ngIf="!!element.message"
                  [color]="'warn'"
            (click)="showMessage(element.message)">Show Detail</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="audit-view-footer row">
    <mat-paginator class="w-100" [pageSizeOptions]="[5, 10, 20]"
                   pageSize="10" showFirstLastButtons></mat-paginator>
  </div>

</div>
