.host {
   width: 100% !important;
   height: 100%;
   padding: 0;
   margin: 0;
}

table, tr {
   width: 100%;
   box-shadow: none;
}

th.mat-sort-header-sorted {
   color: black;
}

.audit-view-container {
   width: 100%;
   height: 100%;
   overflow-y: hidden;
   padding: 10px 20px;
}

.audit-view-header {
   height: 130px;
}

.audit-view-title {
   padding: 10px 0 10px 10px;
}

.audit-view-actions {
   padding-left: 10px;
}

.audit-filter-to, .audit-view-action-btn {
   padding: 0 10px;
   align-items: center;
   display: flex;
}

.audit-view-table {
   max-height: calc(100% - 180px);
   overflow: auto;
}

.audit-view-footer {
   height: 50px;
}
