.host {
   width: 100% !important;
   height: 100%;
   padding: 0;
   margin: 0;
}

table, tr {
   width: 100%;
}

th.mat-sort-header-sorted {
   color: black;
}

.audit-view-container {
   width: 100%;
   height: 100%;
   padding: 20px;
   //margin-top: 20px;
}

.audit-view-table {
   height: 600px;
   overflow: auto;
}
