<mat-drawer-container class="mat-drawer-container-body" autosize *ngIf="!!model">
  <mat-drawer class="mat-drawer-body"
              mode="side" disableClose opened="true">
    <div class="mat-drawer-first-pane">
      <mat-tree-view [showRoot]="false" [expandFirst]="false"
                     [data]="model.tree"
                     [selectedNodes]="selectNodes"
                     (onSelectNode)="onSelectNodes($event)"></mat-tree-view>
    </div>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content-pane">
    <ng-container *ngIf="!!permission">
      <div class="content-card-btns-container">
        <div class="content-card-btns-top-pane content-card-btns-padding">
          <div>
            <h4>{{"Resource" | translate}}: {{permission.resourceLabel}}</h4>

            <mat-card class="content-card-btns-padding">
              <mat-card-content>
                <mat-table-view [cols]="cols" [selectedItems]="selectedItems"
                                [data]="permission.items"
                                [clickToSelect]="false"
                                (onRowUnSelected)="onRowUnSelected($event)"
                                (onRowSelected)="selectItem($event)"
                ></mat-table-view>
              </mat-card-content>

              <mat-card-actions>
                <button mat-button (click)="add()">{{'Add' | translate}}</button>
                <button mat-button (click)="deleteSelected()">{{'Delete' | translate}}</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <mat-card class="content-card-btns-bottom">
          <mat-card-content>
            <button mat-button (click)="apply()"
                    [disabled]="noChanged">{{'Apply' | translate}}</button>
            <button mat-button (click)="reset()"
                    [disabled]="noChanged">{{'Reset' | translate}}</button>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
