html, body {
   height: 100%;
}

body {
   overflow: hidden; /* prevent scrollbars in FF */
   padding: 0;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif; /* Angular material */
}

button:focus {
   outline: none !important; // fix mat-button style after mouse down
}

span.href-style {
   cursor: pointer;
   color: #546E7A;

   &:hover {
      text-decoration: underline;
      color: #607D8B;
   }
}

h1, h2, h3, h4, h5, h6, h7 {
   margin: 0;
   padding: 0;
}
