<mat-accordion *ngIf="!!model" class="subject-item-view-body">
  <mat-expansion-panel class="rounded-0" hideToggle>
    <mat-expansion-panel-header class="subject-item-view-header">
      <mat-panel-title>
        {{model.subject}}
      </mat-panel-title>
      <mat-panel-description>
        {{model.description}}

        <div class="subject-item-view-tr">
          <button mat-icon-button class="tile-bar-icon-size"
                  (click)="changeVote($event, false)">
            <mat-icon class="icon-pressing" [matBadge]="model.vote.oppose"
                      matBadgeOverlap="true"
                      [matBadgeHidden]="!!!model.vote"
                      matBadgeColor="warn"></mat-icon>
          </button>

          <button mat-icon-button class="tile-bar-icon-size"
                  (click)="changeVote($event, true)">
            <mat-icon class="icon-like"
                      [matBadgeHidden]="!!!model.vote"
                      [matBadge]="model.vote.support"
                      matBadgeOverlap="true"></mat-icon>
          </button>
        </div>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="subject-item-view-bl">
        <label>{{'common.createUser' | translate}}: <strong>{{model.createUserName}}</strong></label>
        <label>{{'common.createDate' | translate}}: <strong>{{model.createDate}}</strong></label>
      </div>
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
