<mat-accordion *ngIf="!!model" class="subject-item-view-body">
  <mat-expansion-panel class="rounded-0" hideToggle>
    <mat-expansion-panel-header class="subject-item-view-header">
      <mat-panel-title>
        <span title="{{'Achieved' | translate}}" (click)="preview($event)">
          {{model.subject}}

          <i *ngIf="model.archived"
             class="icon-section-achieve jfoa-icon-size"></i>
        </span>
      </mat-panel-title>
      <mat-panel-description>
        {{model.description}}

        <div class="subject-item-view-tr">
          <button mat-icon-button class="tile-bar-icon-size"
                  [disabled]="model.vote.supportProcessed"
                  (click)="changeVote($event, false)">
            <mat-icon class="icon-pressing" [matBadge]="model.vote.oppose"
                      matBadgeOverlap="true"
                      [matBadgeHidden]="!!!model.vote || model.vote.oppose < 1"
                      matBadgeColor="warn"></mat-icon>
          </button>

          <button mat-icon-button class="tile-bar-icon-size"
                  [disabled]="model.vote.opposeProcessed"
                  (click)="changeVote($event, true)">
            <mat-icon class="icon-like"
                      [matBadgeHidden]="!!!model.vote || model.vote.support < 1"
                      [matBadge]="model.vote.support"
                      matBadgeOverlap="true"></mat-icon>
          </button>
        </div>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="subject-item-view-bl">
        <label>{{'common.createUser' | translate}}: <strong>{{model.createUserName}}</strong></label>
        <label>{{'common.createDate' | translate}}: <strong>{{model.createDate}}</strong></label>
      </div>

      <mat-action-row *ngIf="actionVisible">
        <button mat-button color="warn" *ngIf="model.deletable"
                (click)="delete()">{{'Delete' | translate}}</button>
        <button mat-button color="primary" *ngIf="model.canArchive"
                (click)="achieve()">{{'Achieve' | translate}}</button>
        <button mat-button color="accent" *ngIf="model.archived"
                (click)="preview()">{{'Preview' | translate}}</button>
      </mat-action-row>
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
