
.subject-item-view-body .mat-expansion-panel-header-title,
.subject-item-view-body .mat-expansion-panel-header-description {
   flex-basis: 0;
   justify-content: space-between;
   align-items: center;
}

.subject-item-view-header {
   height: 65px;

   ::ng-deep .mat-content {
      height: 100%;
   }
}

.subject-item-view-tr {
}

.subject-item-view-bl {
   margin-top: 20px;
   margin-left: 15px;
}
