.article-list-container {
   width: 100%;
   height: 100%;
}

.article-list-left {
   float: left;
   width: 20%;
   text-align: right;
}

.article-list-center {
   float: left;
   width: 60%;
}

.article-list-right {
   width: 20%;
   float: right;
}
