<div class="article-list-container p-3">

  <div class="article-list-left">
    <div>Java</div>
    <div>大数据</div>
    <div>Docker</div>
    <div>k8s</div>
  </div>

  <div class="article-list-center p-2">
    <ng-container *ngIf="!!articles; else emptyArticles">

      <mat-list>
        <ng-container *ngIf="!noMore">
          <mat-list-item>
            <div class="align-content-center" mat-line>
              <button mat-button (click)="refresh()">您有新的推荐内容, 点击查看</button>
            </div>
          </mat-list-item>
        </ng-container>

        <mat-list-item *ngFor="let item of articles">
          <article-item [item]="item"></article-item>
        </mat-list-item>

      </mat-list>
    </ng-container>

    <ng-template #emptyArticles>
      <span>空空如也... 去<a routerLink="article-editor/1">写一篇</a>...</span>
    </ng-template>
  </div>

  <div class="article-list-right">
    <div>Notify</div>
  </div>
</div>

